PORT=3001
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/neuroai
JWT_SECRET=neuroai_super_secret_key_2025
JWT_EXPIRES_IN=7d
FLASK_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
